<div id="product" class="d-flex justify-content-center align-items-center form-page-block">
  <div class="form-block">

    {{#if edit }}
      <h3 class="mb-2 small">Edit product</h3>
      <form action="/producto/{{producto.id}}/edit/{{tiendaId}}" method="POST" enctype="multipart/form-data">
    {{else}}
      <h3 class="mb-2 small">Add product</h3>
      <form action="/producto/{{tiendaId}}/create"  method="POST" enctype="multipart/form-data">
    {{/if}}
    
      {{!-- NAME --}}
      <div class="form-group mb-1">
        <label for="name">Name</label>
        <input name="name" type="text" id="name" placeholder="Enter name"
          class="form-control {{#if errors.name}}is-invalid{{/if}}" 
          value="{{ producto.name }}"
          required
        >
        {{#if errors.name}}
          <div class="invalid-feedback">
            {{errors.name.message}}
          </div>
        {{/if}}
      </div>


      {{!-- DESCRIPCION --}}
      <div class="form-group mb-1">
        <label for="description" class="description-edit mt-3 mb-2 mt-0">description</label>
        <textarea 
          name="description" type="text" id="description" placeholder="Enter description"
          class="form-control {{#if errors.description}}is-invalid{{/if}}" 
          {{!-- value="{{ producto.description }}" --}}
          required
          rows="4">{{producto.description }}</textarea>
        
        {{#if errors.description}}
          <div class="invalid-feedback">
            {{errors.description.message}}
          </div>
        {{/if}}
      </div>


      {{!-- PRECIO --}}
      <div class="form-group mb-1">
        <label for="precio">precio</label>
        <input name="precio" type="number" id="precio" placeholder="Enter precio"
          class="form-control {{#if errors.precio}}is-invalid{{/if}}" 
          value="{{ producto.precio }}"
        >
        {{#if errors.precio}}
          <div class="invalid-feedback">
            price is required
          </div>
        {{/if}}
      </div>

      {{!-- IMAGE 1 --}}

      <div class="form-group input-contain input-contain mt-3 mb-4 mt-0">
        <label for="image1" class="form-label drag-label">Image</label>
        <input name="image1" type="file" id="image1"
        accept=".jpg, .png"
        class="form-control input-material drag-input" 
        >
      </div>

      {{!-- <div class="form-group mb-1">
        <label for="image1">image1</label>
        <input name="image1" type="text" id="image1" placeholder="Enter image1"
          class="form-control {{#if errors.image1}}is-invalid{{/if}}" 
          value="{{ producto.image1 }}"
          required
        >
        {{#if errors.image1}}
          <div class="invalid-feedback">
            {{errors.image1.message}}
          </div>
        {{/if}}
      </div> --}}

      <button type="submit" class="btn-brand-1 mt-3">Send</button>

    </form>
  </div>
</div>


{{!-- IMAGE 2--}}
{{!-- <div class="form-group mb-1">
  <label for="image2">image2</label>
  <input name="image2" type="text" id="image2" placeholder="Enter image2"
    class="form-control {{#if errors.image2}}is-invalid{{/if}}" 
    value="{{ producto.image2 }}"
  >
  {{#if errors.image2}}
    <div class="invalid-feedback">
      {{errors.image2.message}}
    </div>
  {{/if}}
</div> --}}