<div id="tienda">
    <div class="tiendaImg" style="background: url('{{tienda.image}}')"></div>
    <div class="tienda-info">
        <h3>{{tienda.name}}</h3>
        <p class="description">{{tienda.description}}</p>
        <a href="{{tienda.officialWeb}}" class="officialWeb mt-4">{{tienda.officialWeb}}</a>
        <div id="owner-buttons">
            {{#ifIsDueño dueñoId=currentUser.id tiendaOwnerId=tienda.ownerId}}
                <a href="/tienda/{{tienda.id}}/edit" class="btn-brand-1 mt-1"> edit tienda</a>

                <form method="POST" action="/tienda/{{tienda.id}}/delete">
                    <button type="submit" class="btn-brand-2">Delete</button>
                </form> 
            {{/ifIsDueño}}
    </div>
    </div>
    <div class="mouse_scroll mouse_scroll_tienda ">
        <div>
            <span class="m_scroll_arrows unu"></span>
            <span class="m_scroll_arrows doi"></span>
            <span class="m_scroll_arrows trei"></span>
        </div>
    </div> 
    <img class="logo-tienda" src="{{tienda.logo}}" alt="">
</div>



<!-- Swiper Tiendas -->
<div id='section-tiendas' class="pt-5 pb-5 mt-5">
  <h3 class="pb-3 small container">PRODUCTOS</h3>


    <div class="container">
        {{#ifIsDueño dueñoId=currentUser.id tiendaOwnerId=tienda.ownerId}}
            <a href="/producto/{{tienda.id}}/create" class="createProduct btn-brand-1 mt-1 mb-5">añade producto </a>
        {{/ifIsDueño}}
    </div>

    <div class="swiper mySwiper container">
      <div class="swiper-wrapper">

        {{#each pro as | producto |}}
            <div class="swiper-slide product-slide">
                <div class="head-product">
                    <p>{{producto.name}}</p> 
                        {{!-- <img class="logoCircle" src="{{producto.image2}}" alt=""> --}}
                </div>
                {{!-- <div class="footer-product"> --}}
                    {{!-- <p>{{producto.description}}</p>  --}}
                        {{!-- <img class="logoCircle" src="{{producto.image2}}" alt=""> --}}
                {{!-- </div>     --}}
                <a href='/producto/{{producto.id}}' class="tiendalink-home" style="background: url({{producto.image1}});"></a>

                {{!-- product like --}}
                {{#if ../currentUser}}
                <div class="divLike">
                    <button class="
                        like-button border-0
                        fa fa-heart fa-2x
                        {{#userLikedProduct likes=../userlikes producto = producto.id}}icon-liked{{/userLikedProduct}}"
                        data-id="{{producto.id}}"
                        >
                        <p class="pe-none" style="opacity: 0;">{{countLikes allLikes=../allLikes producto = producto.id}}</p>
                    </button>
                </div>
                {{/if}}
            </div>
        {{/each}}



        
        
      </div>
    </div>
</div>



<script>

    let tienda_imgs = document.querySelectorAll('.tiendaImg')
    tienda_imgs.forEach(element => {
        setTimeout( () => {
            element.classList.add('active')
        },100)
    });

    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3.5,
        spaceBetween: 15,
        pagination: {
            clickable: true,
        },
    });

</script>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/axios.js"></script>
