
<div style="margin-top: 100px">
    {{#if currentUser}}
        {{#ifDueñoisOn  dueño=currentUser.dueño}}
            <h2>eres el amo!</h2>
            <p>Hello {{currentUser.name}} - - {{currentUser.email}}</p>
            <p>{{currentUser.id}} </p>
        {{/ifDueñoisOn}}

        {{#ifDueñoisOff dueño=currentUser.dueño}}
            <h2>eres un User!</h2>
            <p>Hello {{currentUser.name}} - - {{currentUser.email}}</p>
        {{/ifDueñoisOff}}

    {{else}}
        <h1>no eres ni dueño ni user, solo eres una mierda</h1>
    {{/if}}
</div>


