

<div style="margin-top: 100px">
    {{#if currentUser}}
        {{#ifDueñoisOn  dueño=currentUser.dueño}}
            <h2>eres el amo!</h2>
            <p>Hello {{currentUser.name}} - - {{currentUser.email}}</p>
            <p>{{currentUser.id}} </p>
        {{/ifDueñoisOn}}

        {{#ifDueñoisOff dueño=currentUser.dueño}}
            <h2>eres un User!</h2>
            <p>Hello {{currentUser.name}} - - {{currentUser.email}}</p>
        {{/ifDueñoisOff}}

    {{else}}
        <h3>no eres ni dueño ni user, solo eres una mierda</h3>
    {{/if}}
</div>


{{!-- Google maps --}}
<div style="display: none">
    <input
    id="origin-input"
    class="controls"
    type="text"
    placeholder="Enter an origin location"
    />

    <input
    id="destination-input"
    class="controls"
    type="text"
    placeholder="Enter a destination location"
    />

    <div id="mode-selector" class="controls">
    <input type="radio" name="type" id="changemode-walking" checked="checked"/>
    <label for="changemode-walking">Walking</label>

    <input type="radio" name="type" id="changemode-transit" />
    <label for="changemode-transit">Transit</label>

    <input type="radio" name="type" id="changemode-driving" />
    <label for="changemode-driving">Driving</label>
    </div>
</div>

<div id="map"></div>

<script src="/js/googleMaps.js"></script>    
<script
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=places&v=weekly"
    async
></script>



