<h1>user account</h1>
<div class="d-flex">
    <div style="height: 30vw;">
        {{!-- NAME --}}
        <div class="d-flex">
            <p>Name : {{currentUser.name}}</p>
            <form method="POST" action="/userAccount/{{currentUser.id}}/editName" class="d-flex">
                <button type="submit">modifica</button>
                <div class="form-group mb-1">
                    <input name="name" type="text" id="name" placeholder="Enter name"
                    class="form-control {{#if errors.name}}is-invalid{{/if}}" 
                    value=""
                    >
                    {{#if errors.name}}
                    <div class="invalid-feedback">
                        {{errors.name.message}}
                    </div>
                    {{/if}} 
                </div>  
            </form> 
        </div>


        {{!-- EMAIL --}}
        <div class="d-flex">
            <p>email: {{currentUser.email}}</p>
            <form method="POST" action="/userAccount/{{currentUser.id}}/editEmail" class="d-flex">
                <button type="submit">change email</button>
                <div class="form-group mb-1">
                    <input name="email" type="email" id="email" placeholder="Enter email"
                    class="form-control {{#if errors.email}}is-invalid{{/if}}" 
                    value=""
                    >
                    {{#if errors.email}}
                    <div class="invalid-feedback">
                        {{errors.email.message}}
                    </div>
                    {{/if}} 
                </div>  
            </form> 
        </div>

        {{!-- PASSWORD --}}
        <div class="d-flex">
            <p>Password : {{currentUser.password}}</p>
            <form method="POST" action="/userAccount/{{currentUser.id}}/editPw" class="d-flex">
                <button type="submit">edit password</button>
                <div class="form-group mb-1">
                    <input name="password" type="password" id="password" placeholder="Enter password"
                    class="form-control {{#if errors.password}}is-invalid{{/if}}" 
                    value=""
                    >
                    {{#if errors.password}}
                    <div class="invalid-feedback">
                        {{errors.password.message}}
                    </div>
                    {{/if}} 
                </div>  
            </form> 
        </div>

        <br><br><br>
        <p>Dueño :{{currentUser.dueño}}</p>

        {{#ifDueñoisOff dueño = currentUser.dueño}}
        <form method="POST" action="/userAccount/{{currentUser.id}}/abreTienda">
            <label for="abretienda"> Quieres abrir una tienda?</label>
            <button type="submit">abre una tienda</button>
        </form> 
        {{/ifDueñoisOff}}
    </div>

    {{!-- IMAGE --}}
    <div>
        <img src="{{currentUser.image}}" alt="user image" style="height: 200px; width: 200px">

        <form action="/userAccount/{{currentUser.id}}/editUserImage" method="POST" enctype="multipart/form-data">
            <div>
                <label for="image" class="form-label">change Image </label>
                <input name="image" type="file" id="image"
                accept=".jpg, .png"
                class="form-control" 
                required
                >
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>

</div>

{{!-- DELETE --}}
<form method="POST" action="/userAccount/{{currentUser.id}}/delete">
    <button type="submit">Delete account</button>
</form> 


