<div class="d-flex justify-content-center align-items-center form-page-block">
    <div class="form-block">
        <div class="d-flex justify-content-around ">
            <div>
                <h1>Profile</h1>
                {{!-- NAME --}}
                <div>
                    <p class="account-name">Name : {{currentUser.name}} </p>
                    <form method="POST" action="/editUser/{{currentUser.id}}/editName" class="d-flex">
                        <div class="form-group mb-1">
                            <input name="name" type="text" id="name" placeholder="Enter name"
                            class="form-control {{#if errors.name}}is-invalid{{/if}} input-value-color" 
                            value=""
                            required
                            >
                            {{#if errors.name}}
                                <div class="invalid-feedback">
                                    {{errors.name.message}}
                                </div>
                            {{/if}} 
                        </div>  
                        <button type="submit" class="btn-brand-1 btn-brand-1_account " >Edit Name</button>
                    </form> 
                </div>


                {{!-- EMAIL --}}
                <div class="mt-4">
                    <p class="account-name">email: {{currentUser.email}}</p>
                    <p>{{currentUser.provider}}</p>
                    {{#ifLoginSocial social = currentUser.provider}}
                    <form method="POST" action="/editUser/{{currentUser.id}}/editEmail" class="d-flex">
                        <div class="form-group mb-1">
                            <input name="email" type="email" id="email" placeholder="Enter email"
                            class="form-control {{#if errors.email}}is-invalid{{/if}}" 
                            value=""
                            required
                            >
                            {{#if errors.email}}
                            <div class="invalid-feedback">
                                {{errors.email.message}}
                            </div>
                            {{/if}} 
                        </div>  
                        <button type="submit" class="btn-brand-1 btn-brand-1_account " >Change email</button>
                    </form> 
                    {{/ifLoginSocial}}
                </div>


                {{#ifLoginSocial social = currentUser.provider}}    
                {{!-- PASSWORD --}}
                <div>
                    <p class="account-name mt-4">Edit password</p>
                    <form method="POST" action="/editUser/{{currentUser.id}}/editPw" >
                        
                        <div class="form-group mb-1">
                            <input name="oldPassword" type="password" id="oldPassword" placeholder="Old password"
                            class="form-control {{#if errors.password}}is-invalid{{/if}}" 
                            value=""
                            required
                            >
                            <input name="password" type="password" id="newPassword" placeholder="New password"
                            class="form-control {{#if errors.password}}is-invalid{{/if}} mt-2" 
                            value=""
                            required
                            >
                            {{#if errors.password}}
                            <div class="invalid-feedback">
                                {{errors.password}}
                            </div>
                            {{/if}} 
                            
                            <button type="submit" class="btn-brand-1 btn-brand-1_account mt-3" style="margin-left:0;">Change password</button>
                        </div>  
                    </form> 
                </div>
                {{/ifLoginSocial}}



                {{#ifDue単oisOff due単o = currentUser.due単o}}
                {{!-- <a href="/tienda/create">Open your Shop</a> --}}
                
                {{!-- <form method="POST" action="/editUser/{{currentUser.id}}/abreTienda">
                    <label for="abretienda" class="label-createTienda mt-5"> Create a new shop</label>
                    <button type="submit" class="btn-brand-2 input-createTienda">Open your Shop!</button>
                </form>  --}}
                
                {{/ifDue単oisOff}}

            </div>

            {{!-- IMAGE + DELETE COLUMN --}}
            <div class="image-delete">
                    
                {{!-- IMAGE  --}}
                <div class="editMainDiv">
                    <img src="{{currentUser.image}}" alt="user image" style="height: 350px; width: 200px">
                    <div class="editImage">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#imgModal">
                            <i class="fa fa-pencil fa-lg editIcon"></i>
                        </a>
                    </div>
                </div>

                {{!-- IMAGE  MODAL--}}
                <div class="modal fade" id="imgModal" tabindex="-1" aria-labelledby="imgModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="imgModalLabel">edit image</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form action="/editUser/{{currentUser.id}}/editUserImage" method="POST" enctype="multipart/form-data">
                            <input name="image" type="file" id="image"
                            accept=".jpg, .png"
                            class="form-control" 
                            required
                            >
                            <button type="submit" class="btn-brand-1 mt-3">Send</button>
                        </form>
                    </div>
                </div>
                </div>
                </div>



                {{!-- DELETE ACCOUNT --}}
                <button type="button" class="btn-brand-1 delete-account-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Delete account
                </button>

                {{!-- DELETE ACCOUNT MODAL--}}
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        Are you Sure? Deleting account {{currentUser.name}}
                    </div>

                    <div class="modal-footer">

                        <form method="POST" action="/editUser/{{currentUser.id}}/delete">
                            <button type="submit" class="btn-brand-1">Delete</button>
                        </form> 
                    </div>

                </div>
                </div>
                </div>

            </div>
        </div>

        {{#if user.likes}}
        <div class="container">
            <h3 class="small mb-3 userlikes-title">Products you like</h3>
            
            <div class="productos-liked d-flex">

                {{#each user.likes}}

                    <div class="productos-liked_element">
                        <a href="/producto/{{this.producto.id}}">
                            <img src="{{this.producto.image1}}" alt="">
                        </a>
                    </div>

                    {{!-- <p>tienda: {{this.producto.tienda.name}}, producto : {{this.producto.name}}</p> --}}
                    {{!-- <a href="/tienda/{{this.producto.tienda.id}}">
                        <img src="{{this.producto.tienda.logo}}" class="logoCircle" alt="">
                    </a> --}}
        
                {{/each}}
            </div>
        </div>
        {{/if}}

    </div>
  </div>
</div>