<div id="mapsMainDiv">
    <div class="container">
        <div class="d-flex justify-content-between" >
        
            <div class="map-info">
                <h3 class="uppercase">How to get <span class="color-brand">here</span></h3>
                <p class="big-description">You can find us at the old Matadero in Madrid.</p>

                <div>
                    <p class="map-title">Direction</p>
                    <p>Pl. de Legazpi, 8, 28045 Madrid</p>
                </div>

                <div>
                    <p class="map-title">Opening Hours</p>
                    <p>10-20 every day</p>
                </div>

            </div>
        
            <div class="map-google">
                {{!-- Google maps --}}
                <div class="mapsForm " >
                    <input
                    id="origin-input"
                    class="controls"
                    type="text"
                    placeholder="Enter an origin location"
                    />

                    <input
                    id="destination-input"
                    class="controls"
                    type="text"
                    placeholder="Enter a destination location"
                    />

                    <div id="mode-selector" class="controls">
                    <input type="radio" name="type" id="changemode-walking" checked="checked"/>
                    <label for="changemode-walking">Walking</label>

                    <input type="radio" name="type" id="changemode-transit" />
                    <label for="changemode-transit">Transit</label>

                    <input type="radio" name="type" id="changemode-driving" />
                    <label for="changemode-driving">Driving</label>
                    </div>
                </div>

                <div id="map"></div>
            </div>

    </div>
    </div>
</div>


<script src="/js/googleMaps.js"></script>    
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPimZojX0h4RVt1vjIgINhZjaVQvM-XwI&callback=initMap&libraries=places&v=weekly"
    async
></script>


{{!--  --}}

{{!-- 
<div style="margin-top: 100px">
    {{#if currentUser}}
        {{#ifDueñoisOn  dueño=currentUser.dueño}}
            <h2>eres el amo!</h2>
            <p>Hello {{currentUser.name}} - - {{currentUser.email}}</p>
            <p>{{currentUser.id}} </p>
        {{/ifDueñoisOn}}

        {{#ifDueñoisOff dueño=currentUser.dueño}}
            <h2>eres un User!</h2>
            <p>Hello {{currentUser.name}} - - {{currentUser.email}}</p>
        {{/ifDueñoisOff}}

    {{else}}
        <h3>no eres ni dueño ni user, solo eres una mierda</h3>
    {{/if}}
</div> --}}