<h1>producto</h1>
<p>tienda id {{prod.tienda}}</p>
<p>name : {{prod.name}}</p>
<p>Descripcion :{{prod.description}} </p>
<p>Precio : {{prod.precio}} €</p>
<img style="max-width:20%;" src="{{prod.image1}}" alt="">
<img style="max-width:20%;" src="{{prod.image2}}" alt="">

{{#ifIsDueño dueñoId=currentUser.id tiendaOwnerId=prod.ownerId}}
<div>
    <a href="/producto/{{prod.id}}/edit/{{prod.tienda}}" class="btn btn-success mt-1"> edit </a>               
</div>

<form method="POST" action="/producto/{{prod.id}}/delete/{{prod.tienda}}">
    <button type="submit">Delete</button>
</form>   
{{/ifIsDueño}}