{{#with tienda}}
<h1>Name :{{this.name}}</h1>
<p>Categories:{{this.categories}}</p>
<p>Id tienda: {{this.id}}</p>
<img class="logoCircle" src="{{this.image}}" alt="">
<div><a href="/tienda/{{this.id}}/edit" class="btn btn-success mt-1">/tienda/{{this.id}}/edit</a></div>



<div>
    <h1>PRODUCTOS</h1>
</div>
{{/with}}

