

<div id="tienda">
    <div class="tiendaImg" style="background: url('{{tienda.image1}}')"></div>
    <div class="tienda-info">
        {{!-- <h3>NOVEDADES <br>TENDENCIAS <br> MONTAÑA</h3> --}}
        <h3>{{tienda.name}}</h3>
        <p class="description">{{tienda.description}}</p>
        <a href="{{tienda.officialWeb}}" class="officialWeb mt-4">{{tienda.officialWeb}}</a>
        {{!-- <p class="description">Tenemos dispoinbles los modelos más exclusivos de los ulitmos años. Cazadoras, mochilas, zapatillas...</p> --}}
    </div>
    <div class="mouse_scroll mouse_scroll_tienda ">
        <div>
            <span class="m_scroll_arrows unu"></span>
            <span class="m_scroll_arrows doi"></span>
            <span class="m_scroll_arrows trei"></span>
        </div>
    </div> 
    <img class="logo-tienda" src="{{tienda.logo}}" alt="">


</div>


<div class="container tienda-productos">
    <div class="mt-5">
        <h4>PRODUCTOS</h4>
        {{#ifIsDueño dueñoId=currentUser.id tiendaOwnerId=tienda.ownerId}}
        <a href="/producto/{{tienda.id}}/create" class="createProduct btn-brand-1 mt-1">añade producto </a>
        {{/ifIsDueño}}
    </div>
    
    <div class="d-flex flex-row">
        {{#each pro as | producto |}}
        <div class="d-flex flex-column" style="border :1px solid blue;">
            <p>{{producto.name}}</p> 
            <a href='/producto/{{producto.id}}'>
                <img class="logoCircle" src="{{producto.image2}}" alt="">
            </a>
        </div>
        {{/each}}
    </div>
</div>

<script>
    let tienda_imgs = document.querySelectorAll('.tiendaImg')
    tienda_imgs.forEach(element => {
        setTimeout( () => {
            element.classList.add('active')
        },100)
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/axios.js"></script>
